body {
  background-color: #e9dac1;
}

.column-container {
  max-height: 100px;
}

/* loading component */
.loading-container {
  background-color: aquamarine;
  text-align: center;
  width: 100%;
  height: 100%;
}

.loading-img {
  vertical-align: middle;
  width: 20%;
}
